fastapi
uvicorn
gunicorn
requests
beautifulsoup4
lxml
trafilatura
readability-lxml
tenacity
python-dotenv
email-validator
pydantic
pymongo
python-jose[cryptography]
python-multipart
passlib
bcrypt
httpx
Authlib
itsdangerous